/* * {
	margin: 0;
	padding: 0;
} */
body {
    background: #FFF;
}

* {
    font-family: 'Gilroy-Medium';
    text-decoration: none;
}

.top {
    padding-left: 15%;
    padding-right: 15%;
}

.header__left {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 51px;
    padding-top: 30px;
    padding-left: 15%;

}

.header__right {
    display: inline-flex;
    justify-content: right;
    align-items: center;
    gap: 25px;
    padding-top: 30px;
    padding-right: 7%;

}

.header_logo {
    width: 35px;
    height: 40px;
    flex-shrink: 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

.grow {
    color: #000;
    /* font-family: Gilroy-Bold; */
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.be {
    color: #F25822;
    /* font-family: Gilroy-Bold; */
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.nav-bar {
    color: #000;
    /* font-family: Gilroy-Medium; */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.link_1 {
    color: #F25822;
    /* font-family: Gilroy-SemiBold;  */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top {
    padding-left: 15%;
    padding-right: 15%;
}

.top__content {
    display: flex;
    justify-content: space-between;

}

.h1 {
    color: #000;
    /* font-family: Gilroy-Bold; */
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 0%;
}

.describe {
    color: #888;
    /* font-family: Gilroy-Medium; */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 0%;
}

.button_1 {
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}

.button_2 {

    color: #AAA;
    /* font-family: Gilroy-Bold; */
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}

.top__buttons {
    display: inline-flex;
    padding: 10px 15px;
    align-items: flex-start;
    gap: 20px;
    gap: 15px;
    width: 257px;
    height: 80px;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}

.im_1 {
    padding-top: 75px;
    width: 544.814px;
    height: 374.843px;
    flex-shrink: 0;
    display: inline-flex;
    /* display:inline-block; */
    justify-content: right;
}

.imaging__foot {
    width: 160px;
    height: 50px;
    flex-shrink: 0;
}

.foot__logo {
    width: 100%;
    height: 75px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    /* border: 2px solid #19FBFB; */
}